127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['kube_main'] %}
{% set ip_address = hostvars[host].ansible_host %}
{% set hostname = hostvars[host].inventory_hostname %}
{% set hostname_short = hostvars[host].inventory_hostname_short %}
{% if hostname == hostname_short %}
{% set hostline = ip_address + " " + hostname %}
{% else %}
{% set hostline = ip_address + " " + hostname_short + " " + hostname %}
{% endif %}
{{ hostline }}
{% endfor %}

{% if controlplane_dns_endpoint is defined %}
{{ controlplane_endpoint }} {{ controlplane_dns_endpoint }}
{% endif %}
